@charset 'UTF-8';
body{
		
		font-size: 15px;
		font-family: sans-serif;
	}
header{
	width: 1200px;
	height: 100px;
	margin:  auto;
}

#menu ul  {
	width: 1200px;
	background: blue;
	margin: auto;
	list-style:  none;
	/*bỏ dấu chấm đầu dòng*/
	list-style-type: none;
	padding: 0 ;
	border-bottom: 1px solid #e8e8ee;

}
#menu div ul li  {
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 1em;
	/*chỉnh cho menu hiển thi theo thằng cha nó**/
	position: relative;
	color: #f1f1f1;
	/* các thuộc tính hiển thị nằm ngang*/
	display: inline-table;
	/*kết nối cha với con*/
	position: relative;
}
#menu div ul li a{
	/* xóa gạch dưới*/
	text-decoration: none;  
	color: #f1f1f1;
	font-weight: bold;
	display: block;
}
#menu div ul li:hover{
	background-color: #3399FF;
}
#con{
	line-height: 20px;
	width: 200px;
	position: absolute;
	display: none;
	margin-left: -14px;
	background-color: #3399FF;
}
#menu div ul li:hover #con{
	display: block;
}
section{
	width: 1200px;
	height: 300px;
	margin: auto;
	background: blue;
}